<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/login.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
  <title>Dashboard Login</title>
</head>
<body>
    <div class="login-panel">
      <span class="material-icons-sharp">account_circle</span>
      {% with messages= get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="error">
              <p>{{msg}}</p>
            </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <h1>Login Here </h1>    
      <form method="POST">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="Password" name="password" placeholder="Enter Password">
        <input type="Submit" name="" value="Login">
        <a href="#">Lost your password?</a> <br>
      </form>
      
    </div>


</body>
</html>
