{% extends 'base.html' %}
{% block content %}

<main>
			<h1>Repositories</h1>
			
				<div class="insights">
				<!-----User count----->
				<div class="sales">
					<span class="material-icons-sharp">analytics</span>
					
					
					<div class="middle">
						<div class="left">
							<h3> Total Searchable Data</h3>
							<h1> {{total_results}} </h1>
						</div>
						
					</div>
					<small> Total searchable datasets that we index</small>
				</div>
				<!----- end of User count----->



</main>







<!-- END of main section -->
{% endblock %}
