{% extends 'base.html' %}
{% block content %}
<main>
			<h1>Search Data Analytics</h1>
			<form action="" method="POST">
				<h3>Please enter the time period to get data from</h3>
				<p>Note: We started collecting analytics on July 11th 2022</p>
				{% with messages= get_flashed_messages() %}
				    {% if messages %}
				            {% for msg in messages %}
				            <div class="date-error">
				              <p>{{msg}}</p>
				            </div>
				            {% endfor %}
				    {% endif %}
				{% endwith %}
						
				<div class="date start">
					<h3>Start Date</h3>
					<input type="date" name="start_date" >	
				</div>
				<div class="date end">
					<h3>End Date</h3>
					<input type="date" name="end_date" >	
				</div>
				<div class="submit_button">
					<input type="Submit" name="" value="Get data">
				</div>
			</form>
			<div class="insights">
				<!-----Average search Duration----->
				<div class="search_duration">
					<span class="material-icons-sharp">analytics</span>
					<div class="middle">
						<div class="left">
							<h3> Average search Duration</h3>
							<h1> {{data['Average search Duration']+' sec'}} </h1>
						</div>
						
					</div>
				<small>The average time (in seconds) users, after searching, spent on the property.</small>
				</div>
				<!----- end of Average search Duration----->

				<!-----% of sessions with searches----->
				<div class="sessions_with_searches">
					<span class="material-icons-sharp">star</span>
					<div class="middle">
						<div class="left">
							<h3>Percentage of Sessions with Searches</h3>
							<h1> {{data['Percentage of Sessions with Searches'] +'%'}} </h1>
						</div>
						
					</div>
					<small>The percentage of sessions with search.</small>	
				</div>
				<!----- % of sessions with searches----->

				<!-----Average search depth----->
				<div class="search_depth">
					<span class="material-icons-sharp">pending</span>
					<div class="middle">
						<div class="left">
							<h3>Average Search Depth</h3>
							<h1> {{data['Average Search Depth']+ ' pages'}} </h1>
						</div>
						
					</div>
					<small>The average number of pages people viewed after performing a search.</small>
				</div>
				<!----- end of average search depth----->

				<div class="new_searches">
					<span class="material-icons-sharp">query_stats</span>
					<div class="middle">
						<div class="left">
							<h3>Percentage of New Searches</h3>
							<h1> {{data['percentage of new search']+ '%'}} </h1>
						</div>
						
					</div>
					<small>The percentage of the number of times a refinement (i.e., transition) occurs between internal keywords search within a session.</small>
				</div>
			</div>
			
			<div class="tables search_terms">
				<h2> Search Terms</h2>
				<table>
					<thead>
						<tr>
							<th>Search Terms</th>
							<th>Total Unique searches</th>
							
						</tr>

					</thead>
					<tbody>
						{% for data in terms_dict['search_terms'] %}
						<tr>
							<td> {{data['Search_term']}}</td>
							<td> {{data['Total_Unique_searches']}}</td>
							
						</tr>
						{% endfor %}

					</tbody>
				</table>
				<a href="#">Show All</a>
			</div>	
		</main>
{% endblock %}